html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main {
    height: 100%;
    width: 100%;
}


/* nav bar styling */

.btn {
    width: 10rem;
}


/* styling for inbox.ejs */

.inbox {
    margin-top: 1rem;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.email {
    width: 100%;
    height: max-content;
    border: 1px solid black;
    margin-bottom: 1.5rem;
    background-color: #ffff;
    border-radius: 1.5rem;
}

.email a {
    text-decoration: none;
    color: black;
}

.badge-body {
    position: relative;
}

.badge {
    position: absolute;
    right: 10px;
    top: 5%;
    font-size: 1rem;
}


/* show.ejs styling */

.email-container {
    margin-top: 1rem;
    margin-left: 20rem;
    width: 50%;
}

.buttons {
    display: flex;
    flex-direction: row;
}


/* compose.ejs styling */

.compose-container {
    margin-top: 1rem;
    margin-left: 1rem;
}

.category-title{
    margin:10px;
}

/* draft.ejs styling */

/* Light Pastel Button Styles */

.btn-view, .btn-edit, .btn-delete {
  text-decoration: none !important;
}

.btn-view {
  background-color: #A8E6CF;  /* Mint Green */
  color: #004d40;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  margin-left: 3px;

}
.btn-view:hover {
  background-color: #8dd1b5;
}

.btn-edit {
  background-color: #D8B4E2; /* Soft Lavender */
  color: #4a235a;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
}
.btn-edit:hover {
  background-color: #c69bd6;
}

.btn-delete {
  background-color: #F7A1A1; /* Soft Rose Pink */
  color: #7b1e1e;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
}
.btn-delete:hover {
  background-color: #f48484;
}
