html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main {
    height: 100%;
    width: 100%;
}


/* nav bar styling */

.btn {
    width: 10rem;
}


/* styling for inbox.ejs */

.inbox {
    margin-top: 1rem;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.email {
    width: 100%;
    height: max-content;
    border: 1px solid black;
    margin-bottom: 1.5rem;
    background-color: #ffff;
    border-radius: 1.5rem;
}

.email a {
    text-decoration: none;
    color: black;
}

.badge-body {
    position: relative;
}

.badge {
    position: absolute;
    right: 10px;
    top: 5%;
    font-size: 1rem;
}


/* show.ejs styling */

.email-container {
    margin-top: 1rem;
    margin-left: 20rem;
    width: 50%;
}

.buttons {
    display: flex;
    flex-direction: row;
}


/* compose.ejs styling */

.compose-container {
    margin-top: 1rem;
    margin-left: 1rem;
}

.category-title{
    margin:10px;
}